COMP445_LA1/COMP445_LA1 Server/Release
COMP445_LA1/COMP445_LA1 Server/Debug
COMP445_LA1/COMP445_LA1 Server/FILES/*
COMP445_LA1/COMP445_LA1 Client/Release
COMP445_LA1/COMP445_LA1 Client/Debug
COMP445_LA1/Debug
COMP445_LA1/Release
*.user
*.suo
enc_temp_folder
LA1_ExampleFiles/*
